<div class="navbar">
    <button (click)="MentorCalendarpage()">Mentor Calendar</button><br>
    <button (click)="MentorProfilepage()">Mentor Profile</button><br>
    <button (click)="MentorSearchpage()">Mentor Search</button><br>
    <button (click)="MentorTrainingspage()">Mentor Trainings</button><br>
    <button (click)="MentorSkillspage()">Mentor Skills</button><br>
    <button (click)="Trainingpage()">Training</button><br>
    <button (click)="UserTrainingspage()">User Trainings</button><br>
    <button (click)="Logoutpage()">Logout</button>
  </div>
 
<router-outlet></router-outlet>